.cell {
    width: 100%;
}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    height: 10rem;
    margin: 1rem 1rem 0;
    padding-top: 2.2rem;
    background: transparent;
}

.wrapper:after{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.2rem;
    text-align: center;
    background: white;
}

.spinner{
    width: 4rem;
    height: 4rem;
}

.spinner.spinner3{
     border-top: 3px solid var(--main-accent-color);
     border-right: 3px solid transparent;
     border-radius: 50%;
     animation: rotation .8s linear infinite;
 }

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}