#getid-main .form__body {
    width: 300px;
    margin:0 auto;
}

#getid-main .form__input-wrapper {
    margin-bottom: 15px;
}
#getid-main .form__input-hiiden {
     visibility: hidden;
}

#getid-main .form__input-label {
    font-style: normal;
    font-weight: var(--main-font-weight-bold);
    font-size: 12px;
    line-height: 100%;
    color: var(--main-txt-color);
    display: flex;
    margin-bottom: 10px;
}