.footer {
    display: flex;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;  
    opacity: 0.3; 
    margin-top: 40px;
}
.footer__container {
    margin: 10px;
}
.footer_additional {
    background-color: #F8F7FA;
    color: black;
    box-shadow: none;   
}

.footer_button {
    margin: 20px auto;
    width: 50%;
    max-width: 250px;
    padding: 14px;
}
.placeholder{
    margin: 20px auto;
    width: 50%;
    max-width: 250px;
    padding: 14px;
}

.footer img {
    margin: 0 auto;
}