.footer {
    display: flex;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;
    cursor: pointer;
    opacity: 0.3;
}
.footer img {
    margin: 0 auto;
}

.btn__back {
    cursor: pointer;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #999;
}