#getid-main .checkbox__label {
    position: relative;
    display: flex;
    cursor: pointer;
    margin: 0;
    font-size: 12px;
    text-align: left;
    color: var(--main-dark-blue-text);
    
}
#getid-main .checkbox__label * {
    line-height: 1.5;
}

#getid-main input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#getid-main .checkbox__input {
    margin-right: 12px;
}

#getid-main .checkbox__input {
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: var(--main-white);
    border: 1px solid #CED3DD;
    box-sizing: border-box;
    border-radius: var(--main-border-radius);
}

#getid-main .checkbox__label:hover input ~ .checkbox__input {
    background-color: var(--main-input-bg);
}

#getid-main .checkbox__label input:checked ~ .checkbox__input {
    border: 1px solid var(--main-accent-color);
    background-color: var(--main-accent-color);
}

#getid-main .checkbox__input:after {
    content: url(../../../assets/icons/checkbox-checkmax.svg);
    padding-left: 2px;
    display: none;
}

#getid-main .checkbox__label input:checked ~ .checkbox__input:after {
    display: block;
}

