.radio-button__label {
    font-size: var(--main-font-size);
    color: var(--main-txt-color);
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    border-radius: var(--main-border-radius);
    border: 1px solid var(--main-input-border-color);
    background: var(--main-input-bg);
    transition: var(--main-transition);
    display: flex;
    width: var(--main-input-width);
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

.radio-button__label:hover{
    border: 1px solid var(--main-input-hover-border);
}

.radio-button__label:active{
    border: 1px solid var(--main-input-active-border);
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-button__input {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    background-color: var(--main-white);
    border: 1px solid #CED3DD;
    box-sizing: border-box;
    border-radius: 24px;
}

.radio-button__label:hover input ~ .radio-button__input {
    background-color: var(--main-input-bg);
}

.radio-button__label input:checked ~ .radio-button__input {
    border: 1px solid var(--main-accent-color);
    background-color: var(--main-input-bg);
}

.radio-button__input:after {
    content: "";
    position: absolute;
    display: none;
    top: 14px;
    left: 14px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--main-accent-color);
}

.radio-button__label input:checked ~ .radio-button__input:after {
    display: block;
}