#getid-main .header__big {
    text-align: center;
    color:var(--main-txt-color);
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: var(--main-header-size);
    min-height: 3em;
    max-width: 350px;
}

#getid-main .header__small {
    margin: auto;
    margin-top: 20px;
    opacity: 0.8;
    text-align: center;
    /*min-height: 3em;*/
    max-width: 400px;
}
#getid-main .header__small * {
    line-height: 1.5em;
    color:var(--main-txt-color);
    font-weight: var(--main-font-weight);
    font-size: var(--main-subheader-size);
}

#getid-main .animation {
    opacity: 0;
}
#getid-main .visible_1 {
    opacity: 1;
    transition: .3s opacity;
    transition-delay: .3s;
}
#getid-main .visible_2 {
    opacity: 1;
    transition: .3s opacity;
    transition-delay:  .6s;
}
#getid-main .visible_3 {
    opacity: 1;
    transition: .3s opacity;
    transition-delay:  .9s;
}

