.rule-list {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
    color: var(--main-txt-color);
}

.rule-list ul {
    list-style-image: url(../../assets/icons/checkmark.svg);
}

.rule-list ul li {
    margin-bottom: 20px;
}