#getid-main .rule-list_container{
    padding: 40px 50px;
    border: solid 1px #D5D5D5;
    border-radius: 15px;
}
#getid-main .rule-list {
    margin-left: 25px;
    text-align: left;
    list-style: none;
    color: var(--main-txt-color);
}

#getid-main .rule-list {
    list-style-image: url(../../assets/icons/checkmark.svg);
}

#getid-main .rule-list li {
    margin-bottom: 20px;
}

#getid-main .rule-list li:last-child {
    margin-bottom: 0;
}