#getid-main .camera__container, #popup-main .camera__container, #getid-popup-window-main .camera__container{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    width: 100%;
    max-width: 100%;
}

#getid-main .camera__video, #popup-main .camera__video, #getid-popup-window-main .camera__video {
    width: 100%;
}

#getid-main .camera__overlay {
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}

#getid-main .camera__request {
    position: absolute;
    z-index: 100;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#getid-main .camera__request:active {
    outline: none;
    border: none;
}