
#getid-main .preview {
     width: 100%;
     transform: scale(-1, 1);
}

#getid-main .image__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: var(--main-txt-color);
    z-index: 1;
}
