#getid-main .timer_contaner {
    position: absolute;
    top: 10px;
    padding: 10px;
    color: white;
    border-radius: 15px;
    left: 10px;
    background: red;
    display: flex;
    align-items: center;
    z-index: 1;
}
#getid-main .timer_dot{
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}


#getid-main .phrases__container  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    
}


#getid-main .phrases__content  {
    background: #0E1C2CB3;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 21px;
    color: white;
    padding: 20px;
    text-align: center;
    letter-spacing: 0.192941px;
    box-shadow: 0px 0.5px 0px rgba(120, 97, 162, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-weight: bold;
    margin-top: 11px;
    min-height: 3.3em;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#getid-main .phrases__content.row  {
    flex-direction: row;
}

#getid-main .phrases__container.liveness  {
   flex-direction: row-reverse;
    align-items: center;
}

#getid-main .phrases__container.warning:after  {
    margin-left: 20px;
    content: url(../../../../assets/icons/success.svg);
}

#getid-main .command-icon {
    max-height: 50px;
    margin-right: 20px;
}

#getid-main .smile-icon  {
    content: url(../../../../assets/icons/liveness/smile.svg);
}
#getid-main .turnLeft-icon  {
    content: url(../../../../assets/icons/liveness/turn-left.svg);
}
#getid-main .tiltLeft-icon  {
    content: url(../../../../assets/icons/liveness/turn-left.svg);
}
#getid-main .turnRight-icon  {
    content: url(../../../../assets/icons/liveness/turn-right.svg);
}
#getid-main .tiltRight-icon  {
    content: url(../../../../assets/icons/liveness/turn-right.svg);
}

#getid-main .closeEyes-icon  {
    content: url(../../../../assets/icons/liveness/close-eyes.svg);
}

#getid-main .success-icon  {
    content: url(../../../../assets/icons/success.svg);
}

#getid-main .fail-icon  {
   content: url(../../../../assets/icons/error-icon.svg);
}
#getid-main .warning-icon  {
   content: url(../../../../assets/icons/warning.svg);
}


#getid-main .phrases_begin {
    transform: scaleY(0); 
}

#getid-main .phrases__title{
    font-size: 0.8em;
    margin-bottom: 10px;
}
