#getid-main .timer_contaner {
    position: absolute;
    top: 10px;
    padding: 10px;
    color: white;
    border-radius: 15px;
    left: 10px;
    background: red;
    display: flex;
    align-items: center;
    z-index: 1;
}
#getid-main .timer_dot{
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}


#getid-main .phrases__container  {
    background: #0E1C2C;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    line-height: 21px;
    position: absolute;
    bottom: 10px;
    width: 90%;
    color: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 0.192941px;
    box-shadow: 0px 0.5px 0px rgba(120, 97, 162, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

#getid-main .phrases__container.liveness  {
   flex-direction: row-reverse;
    align-items: center;
}

#getid-main .phrases__container.warning:after  {
    margin-left: 20px;
    content: url(../../../../assets/icons/success.svg);
}

#getid-main .phrases__container.smile:after  {
    content: url(../../../../assets/icons/success.svg);
}

#getid-main .phrases__container.closeEyes:after  {
    content: url(../../../../assets/icons/liveness/close-eyes.svg);
}

#getid-main .phrases__container.success:after  {
    content: url(../../../../assets/icons/success.svg);
}

#getid-main .phrases__container.fail:after  {
    background-image: url(../../../../assets/icons/thank-you-logo.svg);
}

#getid-main .phrases_begin {
    transform: scaleY(0); 
}

#getid-main .phrases__content{
    font-weight: bold;
    margin-top: 11px;
    min-height: 3.3em;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#getid-main .phrases__title{
    font-size: 0.8em;
}
