// Define a color variable
$color-black: #000;
$color-white: #fff;
$color-blue: #173d69;
$color-blue-dark: #0e2846;
$color-blue-shadow: #1b3361;
$color-aqua: #00b1c9;
$color-crimson: #ea167c;
$color-violet: #7861a2;



