#getid-component{
  font-family: Roboto, sans-serif;
}

.label-checkbox {
  color: #0e2846;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  a {
    font-size: 15px;
    line-height: 22px;
    color: rgba(120, 97, 162, 0.4);
  }
}