:root {
    --main-txt-color: #1B3361;
    --main-txt-color-secondary: #999;
    --main-input-bg: #FBFBFB;
    --main-input-active-text: #1B3361;
    --main-dark-blue-text: #0E2846;
    --main-accent-color: #9C77E0;
    --main-input-border-color: #eee;
    --main-input-hover-border: #CED3DD;
    --main-input-active-border: #9C77E0;
    --main-white: #FFFFFF;
    --main-error-color: red;
    --button-grey-bg: #F8F7FA;
    --main-font-size: 14px;
    --main-border-radius: 4px;
    --main-font-weight: 400;
    --main-font-weight-bold: 700;
    --main-input-width: 100%;
    --main-transition: all .3s;
    --main-font-family: Roboto, Arial, serif;
    --main-background-color: white;
    --main-header-size: 24px;
    --main-subheader-size: 16px;
}



main, #getid-main {
    font-family: var(--main-font-family);
    transition: var(--main-transition);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    background-color: var(--main-background-color);
    margin: 0 auto;
}

main {
    display: flex;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;
}

main a {
    color: var(--main-accent-color);
}

#getid-main .logo__top{
    margin-bottom: 40px;
}

#getid-main .grid__main {
    width: 100%;
    display: grid;
    grid-row-gap: 16px;
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: 1fr;
    min-height: 504px;
    padding: 16px 0 0;
    text-align: center;
    margin: 0 auto;
}

/*-----------FORM---------*/

#getid-main .input-error {
    border: 1px solid var(--main-error-color)!important;
}
#getid-main .error__message {
    color: var(--main-error-color);
    font-size: 11px;
    font-weight: var(--main-font-weight);
    display: flex;
    margin-top: 5px;
    flex-direction: row-reverse;
    opacity: 0.7;
}

#getid-main input[type='text'], #getid-main select, #getid-main .doc-pick {
    margin: 0 auto;
    display: block;
    padding: 12px 12px;
    border-radius: var(--main-border-radius);
    border: 1px solid var(--main-input-border-color);
    background: var(--main-input-bg);
    color: var(--main-txt-color);
    width: var(--main-input-width);
    font-size: var(--main-font-size);
    transition: var(--main-transition);
    z-index: 1;
    box-sizing: border-box;
}

#getid-main select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../assets/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 16px;
    background-size: 10px;
    font-size: var(--main-font-size);
    color: var(--main-txt-color);
}

#getid-main input:hover, #getid-main select:hover {
    border: 1px solid var(--main-input-hover-border);
}

#getid-main input:focus,
#getid-main select:focus,
#getid-main input:active,
#getid-main button:active {
    border: 1px solid var(--main-input-active-border);
    box-shadow: none;
    outline: none;
}

#getid-main ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--main-txt-color-secondary);
    opacity: 1; /* Firefox */
}

#getid-main :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--main-txt-color-secondary);
}

#getid-main ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--main-txt-color-secondary);
}

#getid-main [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

#getid-main .doc-type label {
    margin: 0 auto;
    display: grid;
    border-radius: var(--main-border-radius);
    border: 1px solid var(--main-input-border-color);
    background: var(--main-input-bg);
    width: 100%;
    transition: var(--main-transition);
    z-index: 1;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    align-items: center;
    cursor: pointer;
}

#getid-main .doc-type input#checkbox {
    width: auto;
    margin: 0 10px;
}

#getid-main .doc-type label + input[type=checkbox]:checked {
    border: 1px solid var(--main-accent-color);
}

/*-----------FORM END---------*/


#getid-main div#animation {
    border: 1px solid var(--main-accent-color);
    border-radius: 8px;
    overflow: hidden;
    height: 270px;
}

#getid-main .icon {
    margin-top: 20%;
}

/*-----------VIDEO---------*/
#getid-main #container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border-radius: 8px;
    overflow: hidden;
}

#getid-main #videoElement {
    width: 500px;
    height: 375px;
    background-color: var(--main-txt-color-secondary);
    transform: scale(-1, 1);
}

#getid-main div#container:before {
    content: "";
    display: block;
    /* background-image: url(./images/aim-id-card-front.svg);*/
    background-position: 0vh 0vw;
    background-repeat: no-repeat;
    width: 500;
    height: 375;
    position: absolute;
    z-index: 2;
    border-radius: 8px;
}

/*-----------VIDEO END---------*/

/*-----------FOOTER---------*/
#getid-main .browsers button {
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
}

#getid-main .browsers > button:nth-child(2) {
    margin-right: 20px;
}
#getid-main .browsers > button:nth-child(3) {
    margin-right: 20px;
}

#getid-main .browsers p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: var(--main-dark-blue-text);
    opacity: 0.7;
}
/*-----------FOOTER END---------*/

/*-----------CSS RESET---------*/
#getid-main * {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: 0;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    text-decoration: none;
    border-collapse: collapse;
    border-spacing: 0;
    background: none;
}
/*-----------CSS RESET END---------*/

