:root {
    --main-txt-color: #1B3361;
    --main-txt-color-grey: #999;
    --main-input-bg: #FBFBFB;
    --main-accent-color: #9C77E0;
    --main-input-border-color: #eee;
    --main-input-hover-border: #CED3DD;
    --main-white: #FFFFFF;
    --main-error-color: red;
    --button-grey-bg: #F8F7FA;
    --main-font-size: 14px;
    --main-button-border-radius: 4px;
    --main-font-weight: 400;
    --main-font-weight-bold: 700;
    --main-input-width: 100%;
    --main-transition: all .3s;
}

main, #getid {
    font-family: Roboto, Arial, serif;
    padding: 20px;
    transition: var(--main-transition);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    margin: 0;
}

main {
    display: flex;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;
}

main a {
    color: var(--main-accent-color);
}

.grid__main {
    display: grid;
    grid-row-gap: 16px;
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: 1fr;
    min-height: 504px;
    padding: 16px 0 0;
    text-align: center;
    margin: 0 auto;
}

/*-----------FORM---------*/


input, select, textarea, button:active {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

input.error {
    border: 1px solid var(--main-error-color)!important;
}
.error__message {
    color: var(--main-error-color);
    font-size: 11px;
    font-weight: var(--main-font-weight);
    text-align: left;
    display: flex;
    margin-top: 5px;
}

input[type='text'], select, .doc-pick {
    margin: 0 auto;
    display: block;
    padding: 12px 12px;
    border-radius: var(--main-button-border-radius);
    border: 1px solid var(--main-input-border-color);
    background: var(--main-input-bg);
    color: var(--main-txt-color);
    width: var(--main-input-width);
    font-size: var(--main-font-size);
    transition: var(--main-transition);
    z-index: 1;
    box-sizing: border-box;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../assets/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 16px;
    background-size: 10px;
    font-size: var(--main-font-size);
    color: var(--main-txt-color);
}

input:hover, select:hover {
    border: 1px solid var(--main-input-hover-border);
}

input:focus, select:focus, input:active, select:focus, button:active {
    border: 1px solid var(--main-accent-color);
    box-shadow: none;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--main-txt-color-grey);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--main-txt-color-grey);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--main-txt-color-grey);
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

.doc-type label {
    margin: 0 auto;
    display: grid;
    border-radius: var(--main-button-border-radius);
    border: 1px solid var(--main-input-border-color);
    background: var(--main-input-bg);
    width: 100%;
    transition: var(--main-transition);
    z-index: 1;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    align-items: center;
    cursor: pointer;
}

.doc-type input#checkbox {
    width: auto;
    margin: 0 10px;
}

.doc-type label + input[type=checkbox]:checked {
    border: 1px solid var(--main-accent-color);
}

/*-----------FORM END---------*/


div#animation {
    border: 1px solid var(--main-accent-color);
    border-radius: 8px;
    overflow: hidden;
    height: 270px;
}

.description {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
}

.description ul {
    /*    list-style-image: url('./images/checked.svg');*/
}

.description ul li {
    margin-bottom: 10px;
}

.icon {
    margin-top: 20%;
}

/*-----------VIDEO---------*/
#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border-radius: 8px;
    overflow: hidden;
}

#videoElement {
    width: 500px;
    height: 375px;
    background-color: var(--main-txt-color-grey);
    transform: scale(-1, 1);
}

div#container:before {
    content: "";
    display: block;
    /* background-image: url(./images/aim-id-card-front.svg);*/
    background-position: 0vh 0vw;
    background-repeat: no-repeat;
    width: 500;
    height: 375;
    position: absolute;
    z-index: 2;
    border-radius: 8px;
}

/*-----------VIDEO END---------*/